POSTGRES_DB=predictiveedge
POSTGRES_USER=predictiveedge
POSTGRES_PASSWORD=replace-with-a-local-password
REDIS_PASSWORD=replace-with-a-local-password
PE_IDENTITY_OTP_SECRET=replace-with-at-least-32-random-characters
PE_IDENTITY_ACCESS_TOKEN_SECRET=replace-with-another-32-character-secret
PE_EMAIL_PROVIDER=ses
PE_SES_REGION=ap-south-1
PE_SES_FROM_ADDRESS=no-reply@momentumsense.com
PE_SMS_PROVIDER=mock
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_SESSION_TOKEN=
WEB_PORT=3000
API_PORT=8080
